# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# add by machh
Debug/
Release/
*.ncb
*.suo
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.exp

